@import url("bootstrap-reboot.css");
@import url("bootstrap.css");

button {
  width: 5rem;
}

.container {
  background-color: lavender;
  display: flex;
  flex-direction: column;
  font:
    0.875rem Helvetica,
    Arial,
    sans-serif;
  /* max-width: 30rem; */
}
