@import url("normalize.css");

.ui {
  display: flex;
  flex-direction: column;
  font:
    0.875rem Helvetica,
    Arial,
    sans-serif;
  max-width: 30rem;
  background-color: beige;
}

button {
  background-color: transparent;
  border-color: blue;
  border-radius: 0.375rem;
  border-style: solid;
  border-width: 1px;
  color: blue;
  cursor: pointer;
  user-select: none;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  width: 4rem;
}

button:hover {
  background-color: blue;
  color: white;
}

button:active {
  background-color: navy;
  color: white;
}

button:disabled {
  pointer-events: none;  
  opacity: 0.35;
}

button:focus-visible {
  background-color: blue;
  color: white;
  box-shadow: 0 0 0 0.25rem skyblue;
  outline: 0;

}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
}

.record {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0.5rem;
}

.datalabel {
  align-items: center;
  background-color: whitesmoke;
  border-color: lightgrey;
  border-radius: .375rem 0 0 .375rem;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: flex;
  padding: .375rem .75rem;
}

.elem {
  border-color: lightgrey;
  border-radius: 0 .375rem .375rem 0;
  border-style: solid;
  border-width: 1px;  
  box-sizing: border-box;
  cursor: text;
  padding: .375rem .75rem;
  position: relative;
  transition: box-shadow 0s ease-in-out 0.15s;
  transition: border-color 0s ease-in-out 0.15s;
}

.elem:focus {
  background-color: white;
  border-color: skyblue;
  box-shadow: 0 0 0 0.25rem #87ceeb40;
  outline: 0;
  z-index: 5;
}

.elem:disabled {
  background-color: lightgrey;
  outline: 0;
}

.token {
  font-size: .75rem
}

#uploadinput {
  opacity: 0;
}

#selectfile {
  background-color: yellow;
}
