@import url("normalize.css");

.ui {
  display: flex;
  flex-direction: column;
  font:
    0.875rem Helvetica,
    Arial,
    sans-serif;
  max-width: 30rem;
  background-color: beige;
}

button {
  width: 4rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  background-color: azure;
}

.record {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0.5rem;
  gap: 0 0.5rem;
  background-color: bisque;
}

.elem {
  display: flex;
  align-items: center;
}

#uploadInput {
  opacity: 0;
}

#selectFile {
  background-color: yellow;
}
